/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Jan-2018, 21:19:17
    Author     : BzKurozaki
*/


header {
    background: rgba(52, 59, 64, 0.9) !important;
}

.detail-box {
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 5px 1px #eee;
    border-radius: 5px;
}

.detail-box .header {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.detail-box .item {
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.detail-box .item .title {
    font-size: 14px;
    font-weight: 500;
    text-align: left !important;
    border: none;
    margin-bottom: 5px;
}

.detail-box .item .title span {
    text-align: right;
}

.detail-box .footer {
    border-top: 1px solid #eee !important;
}

.detail-box .footer .item {
    padding: 15px 15px 0px 15px;
    margin: 0px;
}



/**
 * Invest page
 */
.publication-date {
    border-bottom: 3px solid #2dca98;
    border-radius: 2px;
}

.publication-date .month {
    background-color: #2dca98;
    display: block;
    padding: 3px 0px;
    color: white;
}

.publication-date .day {
    font-size: 1.4em;
    background: white;
    display: block;
    color:#2dca98;
}

.rating {
    display: block;
    color: #2dca98;
    background: white;
    border-bottom: 3px solid #2dca98;
    border-top: 3px solid #2dca98;
    font-size: 1.5em;
    padding: 0.5em;
}

.progress-bar {
    background-color: #2dca98;
}


table th, table td {

    vertical-align: middle;
    height: 100px;
    vertical-align: middle !important;

}




.margin-right-20 {
    margin-right: 20px;
}


div.pagination a {
    padding: 5px 10px;
    background: #fff;
    border: 0.5px solid #eee;
}


div.pagination a.active, a:hover {
    color: #fff !important;
    background: #2dca98 !important;
}


div.pagination a:first-child {
    border-radius: 3px 0px 0px 3px !important; 
}


div.pagination a:last-child {
    border-radius: 0px 3px 3px 0px !important; 
}

.rating-group .rating {
    font-size: 2em;
    line-height: 1em;
    padding: 10px;
    color: #fff;
    border: none !important;
    min-width: 74px;

}
.rating .rate {
    font-size: 0.3em;
    display: block;
}

.rating.rating-aa {
    background: #99cccc;
}

.rating.rating-a {
    background: #336666;
}

.rating.rating-bb {
    background: #003333;
}

.rating.rating-b {
    background: #cccc99;
}

.rating.rating-cc {
    background: #dddd77;
}

.rating.rating-c {
    background: #daca00;
}

.rating.rating-d {
    background: #9a9a44;
}

.padding-bottom-50 {
    padding-bottom: 50px !important;
}

.margin-vertical-50 {
    margin: 50px 0px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.small-rate-table td, th {
    padding: 0px !important;
    height: 0 !important;
    text-align: center;
}

.no-padding-left{
    padding-left: 0px !important;
}



.tab-content {
    max-width: 100%;
    overflow-x: auto;
}